<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<form action="/01_servlet/Ex13" method="post">
				<input type="submit"  value="오늘날짜 구하기">
				<input type="hidden" name="cmd" value="1"> <!-- cmd 가 1이면  -->
			</form>
			<hr>
			
			<form action="/01_servlet/Ex13" method="post">
				<input type="submit"  value="운세 구하기">
			<input type="hidden" name="cmd" value="2"> <!-- cmd 가 2이면  -->
			</form>
			
			<hr>
			
			
			
			<form action="/01_servlet/Ex13" method="post">
			<fieldset>
		<legend> 계산기 </legend>
		 <!--  입력받는 형태가 숫자라는거지  파라미터값은 String 이다 -->
		<p> 수1 : <input type="number" name="s1" required> </p>
		<p> 수2 : <input type="number" name="s2" required> </p>
		<p> 연산자 :
			<input type="radio" name="op" value="+" checked> +
			<input type="radio" name="op" value="-" > -
			<input type="radio" name="op" value="*" > *
			<input type="radio" name="op" value="/" > /
		</p>
		<input type="submit" value="결과보기">
				<input type="hidden" name="cmd" value="3"> <!-- cmd 가 3이면  -->
	</fieldset>
</form>

</body>
</html>